//Colors
$tramodana-black: #2C2F37;
$tramodana-skin: #E5A292;
$tramodana-red: #FB674A;
$tramodana-blue: #78D4F3;
$tramodana-lightgrey: #DEDBDF;
$tramodana-white: #FBFBFC;
$tramodana-darkgrey: #9E9CA0;

