html {
    font-size: 62.5%;
    
}

:root{
    --mdc-theme-primary: #FB674A;
}

button:disabled {
    cursor: default;
}
  
.disable-hover {
   pointer-events: none;
}
  
.pointer{
   cursor: pointer;
}

